<h1>Movie  #<%= @the_director.id %> details</h1>

<a href="/directors">Go back</a>


<dl>
  <dt>Name</dt>
  <dd><%= @the_director.name %></dd>

  <dt>Dob</dt>
  <dd><%= @the_director.dob %></dd>

  <dt>Bio</dt>
  <dd><%= @the_director.bio %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @the_director.image %>" width = "200"></dd>

  <dt>Create at</dt>
  <dd><%= @the_director.created_at %>" width = "200"></dd>

  <dt>Updated at</dt>
  <dd><%= @the_director.updated_at %>" width = "200"></dd>

</dl>


<h2>Filmography</h2>
<% matching_movies = Movie.where({ :director_id => @the_director.id})%>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>
  
  
  <%  matching_movies.each do |a_movie|%>
    <tr>
      <td><%= a_movie.id%></td>
      <td><img src="<%= a_movie.image %>" width = "50"></td>
      <td><%= a_movie.title%></td>
      <td><%= a_movie.year%></td>
      <td><%= a_movie.director_id%></td>
      <td>
        <a href="/movies/<%= a_movie.id %>">
          Show details
        </a>
        
      </td>
    </tr>
  <% end %>

</table>
